:root {
  --primary: #ff4545;
  --bg: #010100;
  --yellow: #ffef00;
}

* {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #fff;
  background-color: var(--bg);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1, 7px solid #010100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-first {
  margin-left: 10rem;
  margin-right: 5rem;
}

.navbar .navbar-first a {
  display: inline-block;
  margin: 0 1rem;
  color: var(--primary);
  font-size: 2rem;
  padding: 1rem 0rem 1rem 0rem;
}

.navbar .navbar-first a:hover {
  color: var(--bg);
}

.navbar .navbar-judul img {
  height: 50px;
  width: 50px;
  margin-left: 2rem;
}


.contact h1 {
    font-size: 3rem;
    margin-top: 10rem;
    text-align: center;
}

.contact p {
    margin-top: 2rem;
    text-align: center;
    color: #fff;
    width: 60rem;
    font-size: 1.4rem;
}

.contact .row-contact {
    margin-top: 5rem;
    margin-left: 20rem;
    display: flex;
    gap: 10rem;
}
.contact .row-contact h3 {
    color: #fff;
    font-size: 1.3rem;
}

.contact .row-contact .row-info .row-first{
    display: flex;
    gap: 3rem;
}

.contact .row-contact .row-info .row-satuan {
    display: grid;
}

.contact .row-contact .row-info .row-satuan input {
    width: 15rem;
    height: 2.5rem;
    border-radius: 10px;
    padding-left: 0.5rem;
}

.contact .row-contact .row-info .row-second {
    margin-top: 2rem;
}

.contact .row-contact .row-info .row-second h3,.contact .row-contact .row-info .row-first h3 {
    margin-bottom: 0.5rem;
}

.contact .row-contact .row-info .row-second input {
    width: 33.2rem;
    height: 3rem;
    border-radius: 10px;
    padding-left: 0.5rem;
}

.contact .row-contact .row-info .row-second .pesan {
    width: 33.2rem;
    height: 10rem;
    padding-bottom: 8rem;
}

.contact .row-contact .row-info .row-send {
    margin-top: 2rem;
    margin-left: 1rem;
}
.contact .row-contact .row-info .row-send a {
    color: #fff;
    background-color: var(--primary);
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.contact .row-contact .row-info .row-send a:hover {
    color: #ff4545;
    background-color: #fff;
}
